header h1 {
    text-align: center;
}

.img {
    background-size: cover;
    border: 1px solid black;
    box-shadow: 9px 9px 9px white;
    height: 150px;
    width: 200px;
}
.img-1 {
    background-image: url( '../images/pizza.jpg' );
    float: right;
    margin-left: 1rem;
}
.img-2 {
    background-image: url( '../images/hotdog.jpg' );
    float: left;
    margin-right: 1rem;
}
.img-3 {
    background-image: url( '../images/burger.jpg' );
    float: right;
    margin-left: 1rem;
}

.row {
    border: 1px dotted orange;
    clear: both;
    margin: 0 1rem;
}

footer {
    clear: both;
}
footer section {
    height: 30px;
    margin: 4rem auto;
    width: 160px;
}

.social {
    background-repeat: no-repeat;
    border: 1px dotted orange;
    height: 30px;
    width: 30px;
}
.social:where( .whatsapp, .facebook, .instagram ) {
    float: left;
    margin-left: 1rem;
}

.social.whatsapp {
    background-image: url( '../images/svg/whatsapp.svg' );
}
.social.facebook {
    background-image: url( '../images/svg/facebook.svg' );
}
.social.instagram {
    background-image: url( '../images/svg/instagram.svg' );
}